#intro-dialog {
    background: linear-gradient(90deg, rgb(79, 26, 90) 0%, rgb(19, 12, 77) 100%);
}

#picked-image {
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: -25px;

    width: 100px;
    height: 100px;
}

#picked-name {
    color: rgb(255, 202, 237);
}

#picked-date {
    text-align: right;
}

#summary-pie {
    width: 15rem;
    min-width: 15rem;
}

#exchange-line {
    display: block;
    width: min(300px, 100%);
    min-width: 0;
    height: 300px;
    min-height: 300px;
}
