@media screen and (min-width: 62.5em) {
    * {
        font-size: 200%;
    }

    .row {
        flex-direction: row;
    }

    .album-row {
        align-items: flex-start;
    }

    .album-row > .side-image {
        margin-top: calc(40px + 3.8rem);
    }

    .side-image {
        width: 500px;
        min-width: 500px;
        height: 500px;
        min-height: 500px;
    }

    #picked-image {
        bottom: -70px;

        width: 250px;
        height: 250px;
    }

    #summary-pie {
        width: 12rem;
        min-width: 12rem;
    }

    #exchange-line {
        width: min(600px, 100%);
        min-width: 0;
        height: 400px;
        min-height: 400px;
    }
}
