@media screen and (min-width: 62.5em) {
    * {
        font-size: 200%;
    }

    div.row {
        flex-direction: row;
    }

    #picked-image {
        bottom: -70px;

        width: 250px;
        height: 250px;
    }

    #stats-pie {
        min-width: 12rem;
    }
}
