@media screen and (min-width: 62.5em) {
    * {
        font-size: 200%;
    }

    .row {
        flex-direction: row;
    }

    #picked-image {
        bottom: -70px;

        width: 250px;
        height: 250px;
    }

    #recent-image {
        width: 500px;
        min-width: 500px;
        height: 500px;
        min-height: 500px;
    }

    #summary-pie {
        width: 12rem;
        min-width: 12rem;
    }

    #exchange-line {
        width: 600px;
        min-width: 600px;
        height: 400px;
        min-width: 400px;
    }
}
