* {
    font-family: 'Jost-Black';
    font-size: 100%;
    line-height: 0.95;
    color: white;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    margin: 0 auto;
    background: linear-gradient(90deg, rgba(45, 5, 58, 1) 0%, rgba(9, 4, 54, 1) 100%);
}

navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: absolute;
    top: 0px;
    padding: 15px 10% 15px 10%;
    border-bottom: 5px solid rgba(9, 4, 54, 1);
    background: linear-gradient(90deg, rgb(79, 26, 90) 0%, rgb(19, 12, 77) 100%);
    box-shadow: 0 4px 20px rgba(9, 4, 54, 1);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 50px 0 50px 0;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 5px solid #6b37be;
    box-shadow: 0 0 20px rgb(150, 69, 243);
}

h1, h2, a {
    width: 100%;
    font-family: 'Jost-SemiBold';
    font-size: 25px;
}

p {
    width: 100%;
    font-size: 45px;
    text-shadow: 0 0 20px rgba(53, 9, 211, 0.466);
}
